.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 600px;
}

@media (min-width: 500px) {
    .Burger {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .Burger {
        width: 80%;
    }
}

@media (min-height: 400px) {
    .Burger {
        height: 300px;
    }
}

@media (min-height: 600px) {
    .Burger {
        height: 400px;
    }
}

.BurgerView {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 20px;
    padding-left: 20px;
}
