.Price {
    font-weight: 200;
    font-size: 0.6rem;
    color: lightyellow;
}

.BuildControlItem {
    width: 100px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 20px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    /*border: 1px solid #eee;*/
    box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.75);
}
.Salad {
    background: linear-gradient(#228c1d, #91ce50);
}

.Bacon {
    background: linear-gradient(#bf3813, #c45e38);
}

.Meat {
    background: linear-gradient(#7f3608, #702e05);
}

.Cheese {
    background: linear-gradient(#f4d004, #d6bb22);
}

.Chicken {
    background: linear-gradient(#7f5910, #684210);
}

.Tomato {
    background: linear-gradient(#b82f1d, #8c261b);
}

.Cucumber {
    background: linear-gradient(#09ab0e, #09870e);
}

.Onion {
    background: linear-gradient(#ac56c8, #8d58a8);
}